
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
img {
    height: 400px;
    width: 400px;
}
#producers {
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 40%;

}

.decoration {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #085f63;
    padding: 10px;
    margin-bottom: 20px;
    background: #d63447; 
}

.icon {
    height: 100px;
    width: 100px;
}

main {
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
body {
    background: #085f63; 
    font-family: 'Mountains of Christmas', cursive;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}
p {
    font-size: 1.25em;
}
h2 {
    font-size: 2.4em;
    text-align: center;
}
button {
    background-color: #085f63;
    padding: 10px;
    font-size: 1em;
    color: white;
}
i {
    font-size: 1.5em;
    padding-right: 10px;
}