
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
img {
    height: 400px;
    width: 400px;
}
#producers {
    background: #d63447; 
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 40%;

}

.decoration {

}

.icon {
    height: 100px;
    width: 100px;
}

main {
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
body {
    background: #085f63; 
    font-family: 'Mountains of Christmas', cursive;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}